
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .Navbar {
    height:80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4285f4; 
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .nav-logo img {
    height: 40px; 
    width: auto;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .nav-btn {
    background-color: #4285f4 ;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .nav-btn:hover {
    background-color: #fff; 
    color: #357ae8 ;
  }
  
  .nav-btn a {
    text-decoration: none;
    color: inherit; 
    font-weight: bold;
  }
  

  